    <nav>
        <div class="logo"><a href="/" style="text-decoration: none; color: inherit;">{'< Pulgaa_ />'}</a></div>
        <ul class="nav-links">
            <li><a href="/#about">About</a></li>
            <li><a href="/writeups">Writeups</a></li>
            <li><a href="/#ctf">CTF</a></li>
            <li><a href="/projects">Projects</a></li>
            <li><a href="/#certs">Certifications</a></li>
            <li><a href="/#contact">Contact</a></li>
        </ul>
    </nav>
